/* Organized, compressed, and heavily commented by Matthew Lawrence on 12-10-2021,
for GT boot camp homework #1. */

/* "*" means to apply to the whole page. This first block is to tell the page to get rid of the margin at the top so that the header is flush with the top of the page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting the background color of the body section of the page */
body {
    background-color: #d9dcd6;
}

/* *********************************Start of Header section************************/

/* setting the basic aesthetic of the header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* setting the display style to show h1 elements next to each other.  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* the "seo" section of the title has different font */
header h1 .seo {
    color: #d9dcd6;
}

/* styling the nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* setting there to be no dot or style on the list items */
header nav ul {
    list-style-type: none;
}

/* styling the nav bar to show next to each other horizontally */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling the text for the link text */
a {
    color: #ffffff;
    text-decoration: none;
}
/* background image for the top of the body */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* ********************************Start of style classes for the page************* */
/* set this class to float content left */
.float-left {
  float: left;
  margin-right: 25px;
}
/* set this class to float content right */
.float-right {
  float: right;
  margin-left: 25px;
}
/* set all content in p tags to have 16px font */
p {
font-size: 16px;
}

/* *************************************Start of main section******************* */
/* set basic style of the main element */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* set style of each section element in the main element */
main section{
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* set image size of images in main element */
main img{
  max-height: 200px;
}
/* set h2 style in the amin section */
main h2{
  margin-bottom: 20px;
  font-size: 36px;
}

/* **************************************Start of aside section******************* */
/* set the stlye and location of the aside element,
this will show on the right side of the main element */
aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* set the format of each section of the aside element */
aside section{
  margin-bottom: 32px;
  color: #ffffff;
}
/* set the format of h3 in the aside element */
aside h3{
  margin-bottom: 10px;
  text-align: center;

}
/* set the format of the image elements inside the aside element */
aside img{
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* **************************************Start of footer section*************** */
/* set basic format and location of the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* set the font size of h2 in the footer element */
footer h2 {
    font-size: 20px;
}
